<ul class="nav nav-pills center-pills" >
  <li><a href="/index.html" {% if page.url == "/" %}style="color: white; background-color: #ae9e87;"{% endif %}>Home</a></li>
  <li><a href="/about.html" {% if page.url == "/about.html" %}style="color: white; background-color: #ae9e87;"{% endif %}>About</a></li>
  <li><a href="/about.html" {% if page.url == "/projects.html" %}style="color: white; background-color: #ae9e87;"{% endif %}>Projects</a></li>
  <li><a href="/about.html" {% if page.url == "/courses.html" %}style="color: white; background-color: #ae9e87;"{% endif %}>Courses</a></li>
  <li><a href="/about.html" {% if page.url == "/services.html" %}style="color: white; background-color: #ae9e87;"{% endif %}>Services</a></li>
</ul>
