<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
	<h1>Jade's Personal Page</h1>
</head>
<br>
    <h2> Click these tags to know more about me.</h2>
	<nav>
      <a href="/index">Home</a> |
      <a href="/resume">Resume</a> |
      <a href="https://github.com/jadewu">Github</a> |
      <a href="https://www.linkedin.com/in/%E7%8E%A5-%E5%90%B3-b71762a4/">LinkdIn</a> |
	</nav>
    <div class="container">
        <h3> What I am doing now...</h3>
        <br> Enjoy summer vacation. </br>
        <br> Construct personal page. </br>
        <br> Do leetcode problems. </br>
    </div>
    <footer>
        <p> Contact me by <a href="mailto:yw4544@nyu.edu">email</a></p>
    </footer>
</body>
</html>



<!--
<!DOCTYPE html>
<html>
	<head>
		<title>Hank Quinlan, Horrible Cop</title>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Hank Quinlan!</h1>
				<p>I'm best known as the horrible cop from <em>A Touch of Evil</em> Don't trust me. <a href="/about">Read more about my life...</a></p>
    		</div>
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
			</ul>
		</footer>
	</body>
</html>
-->