<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/statics/css/main.css">
    <h1>Jade's Personal Page</h1>

</head>
<br>
    <div class="container">
        <h2> Click these tags to know more about me.</h2>
        <nav>
          <a href="/index">Home</a> |
          <a href="/resume">Resume</a> |
          <a href="https://github.com/jadewu">Github</a> |
          <a href="https://www.linkedin.com/in/%E7%8E%A5-%E5%90%B3-b71762a4/">LinkdIn</a> |
        </nav>
    </div>
    <div class="container">
    {{ content }}
    </div>
    <footer>
        <p> Contact me by <a href="mailto:yw4544@nyu.edu">email</a></p>
    </footer>
</body>
</html>
