<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/Users/wuyue/Documents/GitHub/jadewu.github.io/statics/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Users/wuyue/Documents/GitHub/jadewu.github.io/statics/css/main.css">
    <link rel="stylesheet" type="text/css" href="/Users/wuyue/Documents/GitHub/jadewu.github.io/statics/css/svg.css">

</head>
<br>
    <div class="m-5">
    <div class="row">
      <div class="column left">
      </div>

      <div class="column middle">
        <ul class="nav nav-pills center-pills" >
          <li class="active"><a href="https://jadewu.github.io/">Home</a></li>
          <li><a href="/Users/wuyue/Documents/GitHub/jadewu.github.io/_layouts/about.html">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">Services</a></li>
        </ul>
      </div>

      <div class="column right">
        <a href="https://www.linkedin.com/in/yue-wu-b71762a4/">
          <img src="/Users/wuyue/Documents/GitHub/jadewu.github.io/statics/pictures/linkedIn.png" alt="LinkedIn" style="width:30px;height:30px;margin-left:30px;">
        </a>
        <a href="https://github.com/jadewu">
          <img src="/Users/wuyue/Documents/GitHub/jadewu.github.io/statics/pictures/github.png" alt="GitHub" style="width:30px;height:30px;margin-left:30px;">
        </a>
        <a href="https://www.facebook.com/jade.wu.315080">
          <img src="/Users/wuyue/Documents/GitHub/jadewu.github.io/statics/pictures/facebook.png" alt="Facebook" style="width:30px;height:30px;margin-left:30px;">
        </a>
        <a href="mailto:yw4544@nyu.edu">
          <img src="/Users/wuyue/Documents/GitHub/jadewu.github.io/statics/pictures/email.png" alt="Email" style="width:30px;height:30px;margin-left:30px;">
        </a>
      </div>
    </div>

    <div class="container">
    {{ content }}
    </div>

</body>
</html>
