<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/statics/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/main.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/svg.css">
    <link rel="stylesheet" type="text/css" href="/statics/css/photos_slideshow.css">
</head>
<br>
    <div class="m-5">
    <div class="row">
      <div class="column left">
      </div>

      <div class="column middle">
        {% include navpills.html %}
      </div>

      <div class="column right">
        <a href="https://www.linkedin.com/in/yue-wu-b71762a4/">
          <img src="/statics/pictures/linkedIn.png" alt="LinkedIn" style="width:30px;height:30px;margin-left:30px;">
        </a>
        <a href="https://github.com/jadewu">
          <img src="/statics/pictures/github.png" alt="GitHub" style="width:30px;height:30px;margin-left:30px;">
        </a>
        <a href="https://www.facebook.com/jade.wu.315080">
          <img src="/statics/pictures/facebook.png" alt="Facebook" style="width:30px;height:30px;margin-left:30px;">
        </a>
        <a href="mailto:yw4544@nyu.edu">
          <img src="/statics/pictures/email.png" alt="Email" style="width:30px;height:30px;margin-left:30px;">
        </a>
      </div>
    </div>

    <div class="container">
    {{ content }}
    </div>

</body>
</html>
